# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.py[cod]
*.pdb
*.sqlite3


# --- Virtual envs ---
.venv/
venv/
env/
.env/
ENV/
venv.bak/

# --- Configurações locais ---
.vscode/
.idea/
*.code-workspace


# --- Jupyter ---
.ipynb_checkpoints/
*.checkpoint.ipynb
*.nbconvert/

# --- VS Code ---
.vscode/

# --- MacOS files ---
.DS_Store

# --- Data / temp files ---
data/**/*.xlsx
data/**/*.json
data/**/*.csv
data/**/*.tsv
data/**/*.zip
data/**/*.parquet
data/**/*.gz
data/**/*.h5
data/**/*.log
data/**/*.tmp
data/**/*.bak
data/**/*.swp
data/**/*.swo


# --- Project-specific ---
#data/
