# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.py[cod]
*.pdb
*.sqlite3


# --- Virtual envs ---
.venv/
venv/
env/
.env/
ENV/
venv.bak/

# --- Configurações locais ---
.vscode/
.idea/
*.code-workspace


# --- Jupyter ---
.ipynb_checkpoints/
*.checkpoint.ipynb
*.nbconvert/

# --- VS Code ---
.vscode/

# --- MacOS files ---
.DS_Store

# --- Data / temp files ---
*.xlsx
*.csv
*.tsv
*.zip
*.parquet
*.gz
*.h5
*.log
*.tmp
*.bak
*.swp
*.swo


# --- Project-specific ---
data/
